
/* Security */
.password-group {
  border-top: 1px solid var(--light);
  padding-top: 20px;
  margin-top: 20px;
}
.password-group h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.password-group label {
  display: block;
  text-align: left;
  padding-bottom: 5px;
}
.password-group input {
  background-color: var(--light);
  color: var(--dark);
  width: 100%;
  padding: 8px;
  border: 1px solid var(--light);
  border-radius: 8px;
  margin-bottom: 16px;
}
.password-group button {
  background: #2563eb;
  color: var(--light);
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}
.password-updating {
  justify-content: space-between;
}